.heavenlyBody{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffff77;
    box-shadow: 0 0 50px #ffff77;
    transition: all 3s ease 0s;
}

.crater {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 40px;
    bottom: 30px;
    background: black;
    transition: all 1s ease 0s;
    z-index: 1;
}

.dayHeavenlyBody{
    filter: brightness(1);
}
.dayHeavenlyBody > img {
    display: none;
}
.nightFallHeavenlyBody{
    filter: contrast(30) hue-rotate(215deg);
}
.nightFallHeavenlyBody > img {
    display: none;
}

.nightHeavenlyBody {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    box-shadow: none;
    transition: all 3s ease 0s;
    z-index: 0;
    box-shadow: 0 0 50px white;
    border-radius: 50%;
    color: transparent;
}