.wheatField {
    height: auto;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: 2;
}
.nightField{
    filter: brightness(0.01);
}
.dayField{
    filter: brightness(1);
}

@media (max-width: 1100px){
    .wheatField {
        bottom: 0;
    }
}
@media (max-height: 500px){
    .wheatField {
        bottom: -100px;
    }
}